body{
    float: left;
    width:100%;
    height:100%;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}

a:link{
    color: black;
}

#TitlePanel{
    color: #323a45;
    float: none;
    width: 100%;
}

.TitleItem{
    margin: 5px;
    float: left;
}

#TitleText{
  float: left;
}

#UserText{
    float: right;
}
#UserIcon{
    width:2vw;
    border-radius: 16px;
}

#lnkSignOut{
    float: right;
    color:white;
    background:#626f80;
    border-radius: 12px;
    padding: 4px;
    font-size: x-small;
}

.TopPanel{
    float: left;
    background: linear-gradient(180deg, #027876 3%,white 23%, #027876 40%);
    width: 100%;
    padding-left:50vw;
    border-top-left-radius:10px;
}

.TopMenu a:hover{
    color:black;
}


.TopMenu a{
    color:#0181bb;    
    cursor: pointer;
}

.TopMenu{
   float: left;
   background:transparent;
   color:white;
    margin:5px;    
    padding-right: 5vw;
    padding-left: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   cursor:pointer;
}

.TopMenu:hover{
    color:white;
    background:linear-gradient(180deg,#027876, #027876 61%,white 93%, #027876 100%);
}

.LeftPanel{
    float: left;
    background-color: #326b4a;
    width:10vw;   
    background: #e2e2e2; 
}

.LeftMenu{
    float: none;
    padding-top: 5%;
    padding-left: 2%;
    color: #0181bb;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}
.LeftMenu:hover{
    background: white;
}

.LeftMenu a :link{
    background-color: #fff;
    background: #626f80;

}

.LeftMenu a:hover{
    background-color: #fff;
    background: #3b3c3d;
}

#PagePanel{
    padding:5px;
    margin:5px;
    float: left;
    border-radius: 1%;
    border-color: cadetblue;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    min-height:75%;
    width:75%;
}
#BottomPanel{
float: left;
width:100%;
background:#858a8f;
text-align: center;
}
#Footer{
    float: left;
    width:100%;
    font-size: small;
    background:#b9bbbd;
    text-align: center;
}


@media only screen and (min-width: 650px) {
    TitlePanel{
    width: 10vw;
    }
}