<html>
    <head>
        <link href="/Content/CSS/Departments.css" rel="stylesheet" />
    </head>
    <body>
        <div ><h1>Departments</h1></div> <br>
        <div id="Content"></div> <br>        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <!--Helpers-->
        <script src="/Helpers/HelperBase.js" type="text/javascript"></script>
        <script src="/Helpers/DepartmentHelper.js" type="text/javascript"></script>
        
        <!--Models-->   
        <script src="/Models/ModelBase.js" type="text/javascript"></script>
        <script src="/Models/DepartmentModel.js" type="text/javascript"></script>
        
        <!--Controllers-->
        <script src="/Controllers/ControllerBase.js" type="text/javascript"></script>
        <script src="/Controllers/DepartmentController.js" type="text/javascript"></script>
    </body>
</html>